html, button {
  font-family: 'Montserrat', sans-serif;
}

.ideas-main {
    max-width: 650px;
}

.ideas-list {
    display: flex;
}

.ideas-idea {
    display: flex;
}

.ideas-halfflex {
    width: 50%;
    display: flex;
}

.ideas-input {
    display: flex;
}

.ideas-border {
    border: 1px solid black;
}
