// global

html, button, input {
  font-family: 'Montserrat', sans-serif;
}

// app-shell & shared

.ideas-main {
    max-width: 650px;
    margin-top: 80px;
}
// header

.ideas-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black solid;
    position: fixed;
    background: white;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

// idea-card

.ideas-idea {
    margin: 5px 0;
    box-shadow: 0px 1px 3px #888888;
}

.ideas-idea-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.ideas-idea-title {
    margin: 0;
}

.ideas-user {
    display: flex;
    flex-direction: column;
}

.ideas-popularity {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.ideas-idea-description {
    padding: 20px;
}

// idea-submit

.ideas-form {
    padding: 20px;
}

.ideas-input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
    margin: 20px 0;
}

.ideas-input--long {
    height: 200px;
}

.ideas-input:focus {
    outline: none;
}

//

.ideas-list {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.ideas-border {
    border: 1px solid black;
}

.ideas-supporters {
    padding: 20px;
}

.ideas-header-item {
    cursor: pointer;
    padding: 20px;
    text-decoration: none;
    color: black;
}

.ideas-header-item--end {
    align-self: flex-end;
}

.ideas-header-buttons {
    display: flex;
}

.ideas-hidden {
    display: none;
}

.ideas-button {
    cursor: pointer;
    border: none;
    background: lightblue;
    padding: 10px;
    font-size: 15px;
}

.ideas-button:active {
    background: blue;
}

.ideas-button:focus {
    outline: none;
}

.ideas-rhs-button-container {
    display: flex;
    justify-content: flex-end;
}
