html, button {
  font-family: 'Montserrat', sans-serif;
}

.ideas-main {
    max-width: 650px;
}

.ideas-list {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.ideas-form {
    padding: 20px;
}

.ideas-halfflex {
    width: 50%;
    display: flex;
}

.ideas-input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
    margin: 20px;
}

.ideas-input:focus {
    outline: none;
}

.ideas-border {
    border: 1px solid black;
}

.ideas-user {
    display: flex;
    flex-direction: column;
}

.ideas-header {
    display: flex;
    justify-content: space-between;
}

.ideas-idea-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.ideas-idea-title {
    margin: 0;
}

.ideas-idea-description {
    padding: 20px;
}

.ideas-supporters {
    padding: 20px;
}

.ideas-header-item {
    margin: 10px;
}

.ideas-header-item--end {
    align-self: flex-end;
}

.ideas-header-buttons {
    display: flex;
}

.ideas-popularity {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.ideas-hidden {
    display: none;
}
